@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poetsen+One&display=swap');

body {
  background-image: url("https://i.pinimg.com/736x/ff/3e/d9/ff3ed9cd84dae5744f8a9456c8dd61d9.jpg");
  text-align: center;
  margin: auto;
   font-family: "Poetsen One", serif;
}

h1{
  font-size: 30px;
  color: palevioletred;
}

#myCanvas {
  background-size: 600px 400px;
  border-radius: 30px;
  border: 5px solid white;
}





